version: "3.8"

services:
  ganache:
    image: trufflesuite/ganache:latest
    command: ["--host","0.0.0.0","--chain.chainId","1337","--wallet.totalAccounts","10","--miner.blockTime","1"]
    ports:
      - "8545:8545"
    networks: [certnet]

  hardhat:
    image: node:20
    working_dir: /app
    networks: [certnet]
    depends_on: [ganache]
    volumes:
      - ./dapp:/app
    command: >
      bash -lc "npm install && npx hardhat compile && sleep infinity"

  client:
    image: node:20
    working_dir: /app
    networks: [certnet]
    depends_on: [hardhat]
    volumes:
      - ./client:/app
    environment:
      RPC_URL: http://ganache:8545
    command: ["bash","-lc","npm install && node index.js"]

networks:
  certnet:
    name: certnet
